<h1>Reviews</h1>

<table class="pure-table" style="letter-spacing:normal;">

  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Stars</th>
      <th>Details</th>
      <th></th>
      <th></th>
  </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
        <tr>
            <td><%= review.book.title %></td>
            <td><%= review.book.author.last_name %>, <%= review.book.author.first_name%></td>
            <td>Stars <%= review.stars %>  </td>
            <td><%= link_to 'Read Detailed Review', review %></td>
            <td><%= link_to 'Edit', edit_review_path(review) %></td>
            <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>
